
<% here = ["email", "username", "pin", "website", "address", "alias"] %>

<% here.each do |label| %>
<label for=<%= label %>><%= label %></label>
<input type="text" name=<%= label %> id=<%= label %> class="fancy_form" >
<% end %>
 
